.card-box{
    box-shadow: 2px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:2%;
}
.card-title{
    font-family: 'Poppins-Bold';
    margin-top: 2%;
}

.col-md-4{
    background-color: teal;
    color: white;
}
.text-muted{
    color: white;
}
.status{
    font-family: 'Poppins-Bold';
    color: teal;
}